@{ Layout = null;}
@using KiRaYa.Models
@{ List<Login> listlogin = new Login().GetAll();
    foreach(var item in listlogin)
    {
        listlogin = listlogin.FindAll(x => x.EmailID == item.EmailID);
    }
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <h1 class="text-center"><b>Term and policy</b></h1>
                <p class="justify-content-center">
                    The following Terms and Conditions govern the use of this Open Society Foundations (“the Foundations” or “OSF”) Site and any other site owned or operated by OSF that links to these Terms and Conditions (“the Foundations’ website” or “this Site”). By visiting this Site, you specifically and automatically agree to abide by these Terms and Conditions. The Open Society Foundations reserve the right to modify these Terms and Conditions at any time. You agree that neither the Foundations nor any affiliate of the Foundations (collectively, “Affiliated Entities”) shall be liable to you or to any third party for any modification, suspension or discontinuance of this Site, in whole or in part, or of any service, content, feature, or product offered through this Site. Your continued use of the Site after such changes, including but not limited to any changes to these Terms and Conditions, will indicate your acceptance of such changes.

                    Use of Materials on this Site
                    In keeping with the Open Society Foundations’ goals and mission, virtually all of the materials posted on this Site, except for (a) images, and (b) materials that contain a copyright notice for a third party other than the Foundations or the Open Society Institute, are licensed to the public through the Creative Commons Attribution-Non-commercial-No Derivatives license. This license allows users to download those materials from this Site (that are not specifically restricted) and to share them as long as (a) the particular article, section, audio, or video clip is reproduced in its entirety in its original form and is not edited or modified in any way; (b) all copies include attribution to the original author (if noted) and the Open Society Foundations and contain a link back to www.opensocietyfoundations.org as the original source of the work; and (c) the copies are distributed only for noncommercial purposes and are distributed at no charge.

                    Other than as specifically described in the preceding paragraph, you may not copy, reproduce, distribute, modify, display, republish, transmit, repost, or otherwise use the content on this Site without prior written permission from the Open Society Foundations. To request such permission, please contact us. The name “Open Society Foundations,” “Open Society Institute,” the swirl logo, and all related indicia are the trademarked properties of the Open Society Institute, and in no event may they be reproduced separately from the textual content associated with them on this website. Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of OSF’s trade names, trademarks, or service marks without our express prior written consent. All trademarks and service marks on the Site not owned by OSF are the property of their respective owners. The trade names, trademarks, and service marks owned by OSF, whether registered or unregistered, may not be used in connection with any product or service that is not ours.

                    Jurisdiction
                    The Site is controlled and operated by the Open Society Foundations from the United States, and is not intended to subject the Foundations to the laws or jurisdiction of any state, country, or territory other than that of the United States. OSF does not represent or warrant that the Site or any part thereof is appropriate or available for use in any particular jurisdiction other than the United States. Those who choose to access the Site do so on their own initiative and at their own risk, and are responsible for complying with all local laws, rules and regulations. You are also subject to United States export controls and are responsible for any violations of such controls, including any United States embargoes or other federal rules and regulations restricting exports. We may limit the Site's availability, in whole or in part, to any person, geographic area, or jurisdiction we choose, at any time and in our sole discretion.

                    Information Submitted Through the Site
                    Be aware that your decision to send personally identifiable information through your use of this Site will subject such information to the privacy laws and standards of the United States. Your submission of information through the Site is governed by OSF's Privacy Policy, which is located at www.opensocietyfoundations.org/policies/privacy (the “Privacy Policy”). Your use of the Site is also subject to our Cookie Policy, which is located at https://www.opensocietyfoundations.org/policies/community-guidelines (the “Cookie Policy”). These Terms & Conditions incorporate by reference the terms and conditions of the Privacy Policy and Cookie Policy. You represent and warrant that any information you provide in connection with your use of the Site is and shall remain true, accurate, and complete, and that you will maintain and update such information regularly. You agree that if any information you provide is false, inaccurate, obsolete, or incomplete, we may terminate your use of the Site and/or any of the services. In addition, OSF and the Affiliated Entities have no control over, and shall have no liability for, any damages resulting from the use (including without limitation republication) or misuse by any third party of information voluntarily made public through your profile, a forum or any other part of the Site. If you choose to make any of your personally identifiable or other information publicly available on the Site, you do so at your own risk.

                    Rules of Conduct
                    While using the Site you will comply with all applicable laws, rules, and regulations, and with our Community Guidelines, located at https://www.opensocietyfoundations.org/policies/community-guidelines. In addition, we expect users of the Site to respect the rights and dignity of others. Your use of the Site is conditioned on your compliance with the following rules of conduct.
 
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-5">

                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-outline-success" onclick="window.location.href = 'http://localhost:57665/Rental/CreateEdit?RentalID=0&DDID=@Request.QueryString["DDID"]&RID=@Request.QueryString["RID"]&ID=listlogin'" > Accept</button>
                    </div>
                </div>
               
  

            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </body>

</html>

