@using KiRaYa.Models

@{List<RoomTable> roomTables = new RoomTable().GetAll();}

<div class=" row" id="1">
    <div class="col-md-6  p-4">
        <div class="card text-white bg-primary mx-auto  " style=" max-width: 18rem ;box-shadow:2px 4px 4px black ;z-index:10000">
            <div class="card-header text-center">Block A ROOMS</div>
            <div class="card-body  ">
                <ul class="list-group">
                    <h5 class="text-center" style="color:red;box-shadow:2px 4px 4px black">@TempData["mgs"]</h5>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        Total ROOM
                        <a onclick="m();" data-toggle="modal" data-target=".bd-example-modal-xl">
                       @* <a href="/RoomTable/Index?DDID=1" >*@
                            <span class="badge badge-primary badge-pill">
                                @{ int TR = roomTables.FindAll(x => x.DDID == 2).Count();

                                }
                                @TR



                            </span>
                        </a>
                    </li>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        AVILIABLE ROOM
                        <a href="#">
                            <span class="badge badge-primary badge-pill">
                                @{ int RemainingR = roomTables.FindAll(x => x.DDID == 2).Count();
                                    int rr = RemainingR - TR;}
                                @rr
                            </span>
                        </a>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-6 text-center  p-4">
        <div class="card text-white bg-secondary " style=" max-width: 18rem ;box-shadow:2px 4px 4px black ;z-index:10000">
            <div class="card-header text-center">Block B Rooms</div>
            <div class="card-body  ">
                <ul class="list-group">
                    <h5 class="text-center" style="color:red;box-shadow:2px 4px 4px black">@TempData["mgs"]</h5>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        Total ROOM
                        <a onclick="y();" data-toggle="modal" data-target=".bd-example-modal-xl">
                            @* <a href="/RoomTable/Index?DDID=2">*@
                            <span class="badge badge-primary badge-pill">

                                @{ int RT = roomTables.FindAll(x => x.DDID == 3).Count();}
                                @RT
                            </span>
                        </a>
                    </li>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        AVILIABLE Room
                        <a href="#">
                            <span class="badge badge-primary badge-pill">

                                @{ int REMAININGROOM = roomTables.FindAll(x => x.DDID == 3).Count();
                                    int EE = RT - REMAININGROOM;}
                                @rr
                            </span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>


</div>
<div class=" row" id="2">
    <div class="col-md-6  p-4">
        <div class="card text-white bg-primary mx-auto  " style=" max-width: 18rem ;box-shadow:2px 4px 4px black ;z-index:10000">
            <div class="card-header text-center">Block C ROOMS</div>
            <div class="card-body  ">
                <ul class="list-group">
                    <h5 class="text-center" style="color:red;box-shadow:2px 4px 4px black">@TempData["mgs"]</h5>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        Total ROOM

                        <a onclick="mys();" data-toggle="modal" data-target=".bd-example-modal-xl">
                            <span class="badge badge-primary badge-pill">
                                @{ int QT = roomTables.FindAll(x => x.DDID == 4).Count();}


                                @QT



                            </span>
                        </a>
                    </li>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        AVILIABLE ROOM
                        <a href="#">
                            <span class="badge badge-primary badge-pill">
                                @{ int gR = roomTables.FindAll(x => x.DDID == 4).Count();
                                    int R = RemainingR - TR;}
                                @rr
                            </span>
                        </a>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-md-6 text-center  p-4">
        <div class="card text-white bg-secondary " style=" max-width: 18rem ;box-shadow:2px 4px 4px black ;z-index:10000">
            <div class="card-header text-center">Block D Rooms</div>
            <div class="card-body  ">
                <ul class="list-group">
                    <h5 class="text-center" style="color:red;box-shadow:2px 4px 4px black">@TempData["mgs"]</h5>

                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        Total ROOM
                        <a onclick="my();" data-toggle="modal" data-target=".bd-example-modal-xl">
                            @* <a href="/RoomTable/Index?DDID=4">*@
                            <span class="badge badge-primary badge-pill">

                                @{ int yt = roomTables.FindAll(x => x.DDID == 1).Count();}


                                @yt
                            </span>
                        </a>
                    </li>
                    <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                        AVILIABLE Room
                        <a href="#">
                            <span class="badge badge-primary badge-pill">

                                @{ int ROOM = roomTables.FindAll(x => x.DDID == 1).Count();
                                    int E = RT - REMAININGROOM;}
                                @rr
                            </span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>


</div>
<script>
    function my() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=1",
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                $("#1").hide();
                $("#2").hide();

            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function m() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=2",
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                $("#1").hide();
                $("#2").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function y() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=3",
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                $("#1").hide();
                $("#2").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function mys() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=4",
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                $("#1").hide();
                $("#2").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
</script>